body {
    margin:0;
    background-color: #eaeaea;


}

.navbar {
    overflow: hidden;
    background-color: #4b9ee5;
    top: 0px;
    width: 100%;
    color: white;
    position: sticky;
    z-index: 10;
    display: inline-block;
}

.titlebar {
    overflow: hidden;
    background-color: #eaeaea;
    top: 5px;
    width: 100%;
    color: white;
}



.main {
    padding: 16px;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;

}

#courseTitle{
    width: 30%;
    font-size: small;


}

#courseFolder{
    width: 5%;
    font-size: small;


}

#courseOwner{

    width: 30%;
    font-size: small;

}

#courseCreated{

    width: 30%;
    font-size: small;

}



.fa-folder{

    color: #4b9ee5;
}
.fa-times{
    color: red;
    cursor: pointer;
}

.fa-check{

    color: green;
    cursor: pointer;
}

.fa-th
{
    cursor: pointer;
}

.navbartitle {
    padding-bottom: 21px;
    padding-top: 21px;
    top: 54px;
    width: 100%;
    color: #343d46;
    background-color: #e2e2e2;
    position: sticky;
    z-index: 56;
    border-bottom: 1px solid #aaa;
    display: inline-block;


}

a {text-decoration: none; }



.card
{
    margin: 27px;
}


.modal2
{
    overflow: auto;
    margin-left: 405px;

}
.modal-content {
    display: -ms-flexbox;
    display: flex;
    height: 53px;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 63%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.3rem;
    outline: 0;
}

.modal3
{
    overflow: auto;
    padding-right: 727px;


}
.modal5{
z-index: auto;
}

.card-body {


    padding: 0.25rem;
    height: 61px;

    background-color: #b7b7b7;
    color: white;
}

.jumbotron {

    background-color: aliceblue;

}



#searchBar
{
    border-radius: 15px;
}

#home
{
    margin-top: 7px;
    width: 50px;
    float: left;
}
#text
{
    float: left;
    width: 120px;
    overflow: hidden;
    margin-right: 145px;
}
#inputFld{
    float: left;
    width: 451px;
}
#btnFld{
    float: left;
    width: 45px;
    margin-right: 230px;
}
#extra{
    float: left;
    width: 169px;

}

.UpBtn{
    float: left;
    margin-right: 2px;

}
.DwnBtn{

    float: left;
    margin-right: 11px;
}
.selectWidget{
    float: left;
    margin-right: 11px;

}
.DeleteBtn{
    float: left;
    margin-right: 2px;

}
.AddWidget{

    float: right;
    position: sticky;
}
.widgetDiv{

    border: 1px solid black;
    height: 429px;
    padding: 16px;
    background-color: white;
    margin: 12px;
    border-radius: 2px;

}
.CntrlBar{
    float: right;
}
.previewBox{
    border: 1px solid #ced4da;
    padding: 13px;
    height: 229px;

}
.headingInput
{
    float: left;
}
.headingSelect
{
    float: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.saveBtn{
    float: left;
    margin-left: 25px;
}
.previewBtn
{
    float: left;
    margin-left: 9px;
}
.ControlBtn
{
    padding-top: 12px;
    padding-bottom: 52px;
}